@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4"><strong>Gestión de Préstamos</strong></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="container-dashboard">
    <h1 class="display-4"><strong>Gestión de Préstamos</strong></h1>
    <p>Gestiona tus préstamos, clientes y cuentas bancarias</p>

    <div class="dashboard-cards">
        <div class="card-item card-prestamos">
            <div class="card-icon">
                <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="card-info">
                <h4>Préstamos</h4>
                <p>@ViewBag.cantidadPrestamos préstamos</p>
            </div>
        </div>

        <div class="card-item card-clientes">
            <div class="card-icon">
                <i class="fas fa-users"></i>
            </div>
            <div class="card-info">
                <h4>Clientes</h4>
                <p>@ViewBag.cantidadClientes clientes</p>
            </div>
        </div>

        <div class="card-item card-activos">
            <div class="card-icon">
                <i class="fas fa-coins"></i>
            </div>
            <div class="card-info">
                <h4>CuentasBancarias</h4>
                <p>@ViewBag.cantidadCuentas aperturadas</p>
            </div>
        </div>
    </div>

    <div class="dashboard-actions">
        @* <button class="btn btn-ver-prestamos">Ver Préstamos</button>
        <button class="btn btn-ver-clientes">Ver Clientes</button>
        <button class="btn btn-ver-activos">Ver Activos</button>
        <button class="btn btn-nuevo-prestamo">Nuevo Préstamo</button> *@
        <a type="button" asp-action="Index" asp-controller="Clientes" class="btns btns-ver-clientes">Ver Clientes</a>
        <a type="button" asp-action="Index" asp-controller="Prestamos" class="btns btns-nuevo-prestamo">Ver Préstamos</a>

    </div>
</div>
